<a href="https://colab.research.google.com/github/hoyoung13/python/blob/master/2%EC%9D%BC%EC%B0%A8_2%EA%B5%90%EC%8B%9C_input.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
a= input('당신의 이름을 입력하시오   >>>   ') 
a

당신의 이름을 입력하시오   >>>   천호영

'천호영'

In [4]:
b= input('당신의 나이  >>>   ')
b

당신의 나이  >>>   19

'19'

In [6]:
type(b)

str

In [7]:
c= int(b)
c, type(c)

(19, int)

In [11]:
year=int(input('출생년도를 입력  '))
print('당신은',year,'년생입니다')
print('당신의 나이는',2020-year,'세 입니다')

출생년도를 입력  2002
당신은 2002 년생입니다
당신의 나이는 18 세 입니다

**Format** 서식지정자

In [15]:
s='a is {}'
s.format('apple')

'a is apple'

In [17]:
a='%s %d 개 가격은 %.2f 달라'
b=a %('햄버거는',2,4.0*2)
print(a)
print(b)

%s %d 개 가격은 %.2f 달라
햄버거는 2 개 가격은 8.00 달라

In [0]:
# 치킨 2마리 가격은 40000원

In [19]:
a='%s %d 마리 가격은 %d 원'
b=a %('치킨',2,20000*2)
print(a)
print(b)

%s %d 마리 가격은 %d 원
치킨 2 마리 가격은 40000 원