<a href="https://colab.research.google.com/github/hoyoung13/python/blob/master/csv.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [26]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
path='/content/sample_data/california_housing_train.csv'

In [0]:
import pandas as pd
df=pd.read_csv(path)

In [29]:
df

       longitude  latitude  ...  median_income  median_house_value
0        -114.31     34.19  ...         1.4936             66900.0
1        -114.47     34.40  ...         1.8200             80100.0
2        -114.56     33.69  ...         1.6509             85700.0
3        -114.57     33.64  ...         3.1917             73400.0
4        -114.57     33.57  ...         1.9250             65500.0
...          ...       ...  ...            ...                 ...
16995    -124.26     40.58  ...         2.3571            111400.0
16996    -124.27     40.69  ...         2.5179             79000.0
16997    -124.30     41.84  ...         3.0313            103600.0
16998    -124.30     41.80  ...         1.9797             85800.0
16999    -124.35     40.54  ...         3.0147             94600.0

[17000 rows x 9 columns]

In [9]:

df.head(10)

   longitude  latitude  ...  median_income  median_house_value
0    -114.31     34.19  ...         1.4936             66900.0
1    -114.47     34.40  ...         1.8200             80100.0
2    -114.56     33.69  ...         1.6509             85700.0
3    -114.57     33.64  ...         3.1917             73400.0
4    -114.57     33.57  ...         1.9250             65500.0
5    -114.58     33.63  ...         3.3438             74000.0
6    -114.58     33.61  ...         2.6768             82400.0
7    -114.59     34.83  ...         1.7083             48500.0
8    -114.59     33.61  ...         2.1782             58400.0
9    -114.60     34.83  ...         2.1908             48100.0

[10 rows x 9 columns]

In [0]:
man=[[1,2,3],[3,2,3],[5,2,3]]

In [31]:
pd.DataFrame(man)

   0  1  2
0  1  2  3
1  1  2  3
2  1  2  3

In [34]:
df3.index=['a                                                                                 ','b','c']
df3.columns=['1차','2차','3차']
df3

NameError: ignored

In [19]:
df4=df3[['1차','2차']]
df4

NameError: ignored

In [20]:
df3['1차']==3

NameError: ignored

In [23]:
df4['합계']=df3['1차']+df3['2차']
df4

NameError: ignored